#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    text-decoration: underline;
}
#format-actions {
    width: 200px;
    margin-right: 400px;
}

.format-action.is-active {
    color: #FF0000;
    border-color: #FF0000;
}
